{%extends 'admins/adminbase.html'%}
{%load static%}
{%block contents%}
<style>
    body {
    background-color: lightyellow;
}
</style>

 <section class="signup-section" id="signup">

                 <h2>Results table</h2>
										 <font color="Black">
                                                  <table border="1px" class="table table-sm table-hover table-dark" >
                    <thead>
                    <tr class="table-danger">
                        <th scope="col">S.No</th>
                        <th scope="col">User Name</th>
                        <th scope="col">File Name</th>
                        <th scope="col">Red</th>
                        <th scope="col">Green</th>
                        <th scope="col">Blue</th>
                        <th scope="col">Height</th>
                        <th scope="col">Width</th>
                        <th scope="col">Blocks</th>
                        <th scope="col">Brightness</th>
                        <th scope="col">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <th scope="col">Image</th>
                        <th scope="col">Download</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in data %}
                    <tr scope="row" style="color: BLUE; background-color:#FFFCBB">
                        <td>{{forloop.counter}}</td>
                        <td>{{i.username}}</td>
                        <td><a class="btn-link" href="/GetImageGLH/?imagename={{ i.filename }}">{{i.filename}}</a> </td>
                        <td>{{i.redColor}}</td>
                        <td>{{i.greenColor}}</td>
                        <td>{{i.blueColor}}</td>
                        <td>{{i.picHeight}}</td>
                        <td>{{i.picWidht}}</td>
                        <td>{{i.blockofPixel}}</td>
                        <td>{{i.picbrightness}}</td>
                        <td>{{i.cdate}}</td>
                        <td><img src="{{i.file}}" width="45" height="40"> </td>
						<td><a class="btn-link" href="{{ i.file }}" target="_blank">Download</a></td>

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

                                         </font>

 </section>
{%endblock%}